<div class="mt-1 ml-5">
  <button
    class="bg-blue-500 text-white px-4 py-2 rounded disabled:opacity-50"
    [disabled]="selectedUniversities.length !== 2"
    (click)="compareUniversities()">
    Compare Selected Universities
  </button>
</div>

<!-- Show loader while universities are being fetched -->
<!-- Show a loader while universities are being fetched -->
<div *ngIf="loading" class="loading-container">
  <div class="custom-spinner"></div>
</div>


<!-- Show "No universities available" if empty -->
<div *ngIf="!loading && filteredUniversities.length === 0" class="no-universities">
  <div class="no-universities-card">
    <h2>No Universities Available</h2>
    <p>Try adjusting your filters or searching again.</p>
  </div>
</div>

<!-- Display university cards when data is available -->
<div class="card-container" *ngIf="!loading && filteredUniversities.length > 0">
  <app-university-cards
    *ngFor="let university of filteredUniversities;trackBy: trackByUniversity;"
    [university]="university"
    (selectionChanged)="onCardSelectionChange($event)">
  </app-university-cards>
</div>
