<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <app-university-cards
      *ngFor="let university of filteredUniversities"
      [university]="university"
      (selectionChanged)="onCardSelectionChange($event)">
    </app-university-cards>
    
  </div>

  <div class="mt-6">
    <button
      class="bg-blue-500 text-white px-4 py-2 rounded disabled:opacity-50"
      [disabled]="selectedUniversities.length !== 2"
      (click)="compareUniversities()">
      Compare Selected Universities
    </button>
  </div>
