
<section class="w-full h-screen  flex justify-center bg-black">
<div class="container" *ngIf="submitted else codeForm">
  <div class="activation-message  bg-white p-4 rounded-lg flex flex-col justify-center items-center" *ngIf="isOkay; else activationError">
    <h2 class="text-4xl mt-3">Activation Successful!</h2>
    <p class="text-3xl mt-3">Your account has been successfully activated.</p>
    <button class=" p-5 rounded-lg border-s m-2 3xl bg-black text-white p-3 text-lg  font-bold " (click)="redirectToLogin()">Go to Login</button>
  </div>
  <ng-template #activationError>
    <div class="activation-error bg-white p-4 rounded-lg flex flex-col justify-center items-center">
      <h2 class="text-4xl mt-3">Activation Failed!</h2>
      <p class="text-3xl mt-3">{{ message }}</p>
      <button class=" pt-5 rounded-lg border-s m-2 3xl bg-black text-white p-3 text-lg  font-bold " (click)="submitted = false">Try again</button>
    </div>
  </ng-template>
</div>
<ng-template #codeForm>
  <div class="container">
    <div class="text-center" style="width: 400px;">
      <h2 class="text-white text-lg mb-5">Type your activation code</h2>
      <code-input [isCodeHidden]="false"
      style="color: white; font-size: 20px; text-align: center;"
                  [codeLength]="6"
                  [code]="'number'"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <button class="rounded-lg border-s m-2 mt-5 bg-cyan-100 p-2 font-bold " (click)="redirectToLogin()">Go to Login</button>
    </div>
  </div>
</ng-template>
</section>