<section class="bg-gray-50 dark:bg-gray-900">
  <app-navbar></app-navbar>

  <div class="main-box flex justify-center items-center min-h-screen bg-gradient-to-r from-teal-950 to-teal-800 backdrop-blur-lg">
    <div class="inside-box w-[90em] max-w-[90%] min-h-fit h-auto  bg-slate-50 dark:bg-green-50 shadow-2xl drop-shadow-2xl rounded-lg flex flex-col p-6 py-10">
        
        <div class="heading mb-9">
            <h1 class="pl-14 pt-10 pb-5 font-light text-5xl">Select a Category</h1>
        </div>
        
        <!-- Categories Section -->
        <div class="categories mt-4 w-[60em] grid grid-cols-3 gap-x-0 gap-y-6 mx-auto pb-20 place-items-center">
          <app-category-card class="w-fit"></app-category-card>
          <app-category-card class="w-fit"></app-category-card>
          <app-category-card class="w-fit"></app-category-card>
          <app-category-card class="w-fit"></app-category-card>
          <app-category-card class="w-fit"></app-category-card>
          <app-category-card class="w-fit"></app-category-card>
        </div>
        
    </div>
  </div>
</section>
