<section class="bg-gray-50 dark:bg-gray-900 h-full">

  <app-navbar></app-navbar>

  <div class="flex justify-around w-full h-24 bg-gray-200">
    <div class="filter ml-[18rem] z-10">
      <!-- Listen to filter changes -->
      <app-filters (filtersChanged)="onFiltersChanged($event)"></app-filters>
    </div>

    <div class="flex heading">
      <h1 class="text-slate-950 relative top-7 right-[4rem] text-5xl justify-end items-start" style="font-family: 'Raleway';">
        Bachelor's Degrees from All Over Pakistan
      </h1>
    </div>
  </div>

  <div class="flex w-full flex-row  mx-auto md:h-screen lg:py-0">
    <div style="width: 40%;"></div>

    <!-- SEACH BAR -->
    <div class="flex flex-col " style="width: 70%;">
      <div class="flex justify-center items-center" style="height: 10%;">
        <form class="w-[30rem] mx-auto ml-[15rem]  mt-24">
          <div class="relative">
            <input 
              #searchInput
              type="search" 
              id="default-search" 
              class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" 
              placeholder="Search by Name, Program..." 
              required 
            />
            <button 
              type="button" 
              class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-4 py-2" 
              (click)="searchUni(searchInput.value)">
              Search
            </button>

          </div>
          
        </form>
      </div>

      <!-- Pass filters to university list -->
    
    <div class="mt-28 p-5 items-start justify-start">
      <app-university-list></app-university-list>
    </div>
    </div>
  </div>
</section>
