<!--<div class="h-12 flex justify bg-gray-700 rounded shadow-lg">-->


<!--  <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">-->
<!--    <img class="w-8  h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">-->
<!--    UniverCity-->
<!--  </a>-->


<!--</div>-->
<header class="   bg-slate-900  ">
  <div class="container mx-auto px-4 py-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-8">
        <a href="#" class="flex items-center mb-0 text-xl font-semibold text-gray-900 dark:text-white">
          <img class="w-8  h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
          UniverCity
        </a>
        <nav class="flex items-center space-x-6">
          <a href="#" class="flex items-center text-gray-100 hover:text-gray-300">Explore</a>
          <a href="#" class="flex items-center text-gray-100 hover:text-gray-300">Decide</a>
          <a href="#" class="flex items-center text-gray-100 hover:text-gray-300">Apply</a>
        </nav>
      </div>

      <div class="flex items-center space-x-4">


        <div class="flex items-center space-x-4 ml-4">
          <button (click)="logout()">
            <fa-icon class ="text-gray-100 text-2xl hover:text-gray-300" [icon]="faSignOut"></fa-icon>
        </button>
        </div>
      </div>
    </div>
  </div>
</header>
